<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>대학 식당 찾기</title>
    <link rel="stylesheet" href="tree_fontello/css/fontello.css">
    <link rel="stylesheet" href="../../static/board.css">
</head>
<body>

    <div class="container">
        
        <header>
             <nav class ="navbar">
                 <li><a href="index.html">Home   </a> </li>
                 <li><a href="news">공지사항       </a> </li>
                 <li><a href="contact">공지사항    </a> </li>
                 <li><a href="about">우리에 대해서  </a> </li>
            <h1>대학 식당 찾기</h1>
             
             </nav>
          <nav class="outer">
           <a class="btn" href="#morning">조      식</a>
           <a class="btn" href="#lunch">  중      식</a>
           <a class="btn" href="#dinner"> 석      식</a>
           <a class="btn" href="#allday"> 종      일</a>   
          </nav>
        </header>
        <section class="content">
           <main>
               <div class="restraunt">
                   <input type="checkbox" id="rest">
                    <label for="rest"> 감골식당</label>                   
                   <div class="inner-content">
                       <div class="restraunt-location">
                           <ul>
                           <li>운영시간 (중식) : 1130 ~ 1330 </li>
                           <li>위치    : 관악사(919동)       </li>
                           </ul>
                       </div>
                       <div class="menu">
                       <ul>
                           <li>치킨 텐더 : 4,000</li>
                           <li>뚝배기목살김치찌개 : 4,000</li>
                       </ul>
                       </div>
                   </div>        
               </div>
                <div class="restraunt">
                   <input type="checkbox" id="rest2">
                    <label for="rest2"> 감골식당</label>                   
                   <div class="inner-content">
                       <div class="restraunt-location">
                           <ul>
                           <li>운영시간 (중식) : 1130 ~ 1330 </li>
                           <li>위치    : 관악사(919동)       </li>
                           </ul>
                       </div>
                       <div class="menu">
                       <ul>
                           <li>치킨 텐더 : 4,000</li>
                           <li>뚝배기목살김치찌개 : 4,000</li>
                       </ul>
                       </div>
                   </div>        
               </div>
               <div class="restraunt">
                   <input type="checkbox" id="rest3">
                    <label for="rest3"> 감골식당</label>                   
                   <div class="inner-content">
                       <div class="restraunt-location">
                           <ul>
                           <li>운영시간 (중식) : 1130 ~ 1330 </li>
                           <li>위치    : 관악사(919동)       </li>
                           </ul>
                       </div>
                       <div class="menu">
                       <ul>
                           <li>치킨 텐더 : 4,000</li>
                           <li>뚝배기목살김치찌개 : 4,000</li>
                       </ul>
                       </div>
                   </div>        
               </div>
               <div class="restraunt">
                   <input type="checkbox" id="rest4">
                    <label for="rest4"> 감골식당</label>                   
                   <div class="inner-content">
                       <div class="restraunt-location">
                           <ul>
                           <li>운영시간 (중식) : 1130 ~ 1330 </li>
                           <li>위치    : 관악사(919동)       </li>
                           </ul>
                       </div>
                       <div class="menu">
                       <ul>
                           <li>치킨 텐더 : 4,000</li>
                           <li>뚝배기목살김치찌개 : 4,000</li>
                       </ul>
                       </div>
                   </div>        
               </div>
               <div class="restraunt">
                   <input type="checkbox" id="rest5">
                    <label for="rest5"> 감골식당</label>                   
                   <div class="inner-content">
                       <div class="restraunt-location">
                           <ul>
                           <li>운영시간 (중식) : 1130 ~ 1330 </li>
                           <li>위치    : 관악사(919동)       </li>
                           </ul>
                       </div>
                       <div class="menu">
                       <ul>
                           <li>치킨 텐더 : 4,000</li>
                           <li>뚝배기목살김치찌개 : 4,000</li>
                       </ul>
                       </div>
                   </div>        
               </div>
          </main>
          <nav class="inner">
              <div class="university">
                  대학교 이름
              </div>
              <ul>
                  <li> <a href="#SNU">서울대학교</a>    </li>
                  <li> <a href="#KRU">고려대학교</a>    </li>
                  <li> <a href="#HYU">한양대학교</a>    </li>
                  <li> <a href="#KAIST">카이대학교</a>    </li>
                  <li> <a href="#POSTECT">포스대학교</a>    </li>
              </ul>
          </nav>
          
          
          
        </section>
    <footer>
      2017~ copyright : <br>
      피로그래밍 팀 김주영 김지원 원종훈 윤성환 강상재 
    </footer>
    </div>
</body>
</html>
